#title {
    background-color: #ff4c68;
 color: #fff;
 text-align: center;
   
}


h1 { 
   font-family:"Montserrat",sans-serif ;
   font-size: 2.5em;
   line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 2rem;
    line-height 1;
}

h3 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    
}
.download-button{


    border-radius: 1.3em;
}
.navbar-brand {
    font-family: "Ubuntu",sans-serif ;
    font-size: 2.5rem;
    font-weight: bold;
 
    
}
.navbar {
    padding:0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
   font-size: 1.2rem;
   font-family: "Montserrat-Light";
   
}
.download-button {
    margin: 5% 3% 5% 0%;
}
.dog-img {
    width: 400px;
    transform: rotate(25deg);
    width: 60%;

  padding-top: 0;

  margin-bottom: -200px;

  position: relative;
   

}
.feat-box {
    text-align: center;
    padding: 1px;
}
.fa-solid  {
    color: #ef8172;
    font-size: 2.5rem;
    margin-bottom: 3%;
    
}
.fa-solid:hover {
    color: #ff4c68;
  
}
p {
    color: gray;
}
#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 5px;
}

#press {
    background-color:#ef8172;
    padding-bottom: 5%;
    text-align: center;
}
.press {
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
#features {
    background-color: #fff;
    position:relative;
    padding: 8% 15%;

    z-index: 3;
    
}
@media screen (max-width:990px) {

    dog-img{
        transform:rotate(0);
        position: static;
    }
    
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
 .fotter-button {
    
  
 }
 #footer {
    padding: 7% 15%;
    text-align: center;
 }
